.parent {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 50%;
}

.child-one {
    position: fixed;
    top: 20px;
}

.child-two {
 
}

.child-three {
  
}


.parent {
    padding: 5px;
    background-color: #00AAFF;
}

.child {
    padding: 5px;
}

.child-one {
    background-color: rgb(116, 255, 116);
}

.child-two {
    background-color: rgb(248, 177, 177);
}

.child-three {
    background-color: rgb(255, 116, 232);
}
